<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ApiResourceId>/subscriptions/0a5a2cfe-c879-486c-b18f-76196efb1fed/resourceGroups/TicDrive20241221184222ResourceGroup/providers/Microsoft.ApiManagement/service/TicDriveapi/apis/TicDrive</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ResourceId>/subscriptions/0a5a2cfe-c879-486c-b18f-76196efb1fed/resourcegroups/TicDrive20241221184222ResourceGroup/providers/Microsoft.Web/sites/TicDrive20241221234140</ResourceId>
    <ResourceGroup>TicDrive20241221184222ResourceGroup</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://ticdrive20241221234140.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>2261efaa-42bf-489c-a394-7082c77073aa</ProjectGuid>
    <PublishUrl>https://ticdrive20241221234140.scm.azurewebsites.net/</PublishUrl>
    <UserName />
    <_SavePWD>false</_SavePWD>
  </PropertyGroup>
</Project>